@model myBot.Models.ExtensionScript
@using myBot.Models
@{
    var langList = new SelectList(ExtensionScript.GetSupportedLanguageNames(), Model.Language);
}

@Html.Partial("_BotNameTitle", Model.BotID)


<div class="row">

    <h4 class="col s12">@ViewBag.Title</h4>


    <form class="col s12" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BotID)
        @Html.HiddenFor(m => m.TargetEvent)

        <div class="row">

            <div class="input-field col s12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { autofocus = "" } })
                @Html.LabelFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div class="input-field col s12 m7">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Language, langList, new { @class = "form-control" })
                    @Html.LabelFor(model => model.Language)
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-field col s12 m5">
                <div class="switch" style="height:2em;">
                    <label>
                        Disabled
                        <input type="checkbox" name="Enabled" value="true" @(Model.Enabled ? "checked" : "") />
                        <span class="lever"></span>
                        Enabled
                    </label>
                </div>
                <input type="hidden" name="Enabled" value="false" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.TextAreaFor(model => model.ScriptBody, new { @class = "materialize-textarea" })
                @Html.LabelFor(model => model.ScriptBody)
                @Html.ValidationMessageFor(model => model.ScriptBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect">
                    @_Localize.Save
                </button>
            </div>
        </div>
    </form>
</div>

