@model myBot.Models.Bot

@{
    ViewBag.Title = "Archives";
    ViewBag.GoBackURL = Url.RouteUrl("Default", new { controller = "Bot", action = "Details", id = Model.BotID });
    ViewBag.GoBackText = "Back to Details";

    var groups = Model.Messages
        .Where(m => m.IsArchived)
        .Select(m => new
        {
            MessageID = m.MessageID,
            Text = m.Text,
            AtLastTweetedDate = m.AtLastTweeted.HasValue ? m.AtLastTweeted.Value.Date : (DateTime?)null,
            AtLastTweeted = m.AtLastTweeted
        })
        .GroupBy(m => m.AtLastTweetedDate);
}
@Html.Partial("_BotNameTitle", Model.BotID)

@* ArchivedMessages *@
<div class="row">
    <div class="col s12">
        <div class="caption-with-commands">
            <h4>@_Localize.ArchivedMessages</h4>
        </div>
        <div id="messages-holder" class="deletable-item-holder" data-confirm-restore="@_Localize.ConfirmRestoreMessage" data-confirm-delete="@_Localize.ConfirmDeleteMessage">
            @foreach (var group in groups.OrderByDescending(m => m.Key))
            {
                <h5 class="at-last-tweeted-title">@(group.Key.HasValue ? "Tweet on " + group.Key.Value.ToString("d") : "No Tweeted")</h5>
                foreach (var message in group.OrderByDescending(m => m.AtLastTweeted))
                {
                    <div class="message deletable-item">
                        <div class="contents">
                            @Html.Raw(Html.Encode(message.Text)
                            .Replace("\n", "<br/>")
                            .Replace(" ", "&nbsp;"))
                        </div>
                        <div class="commands">
                            @Html.RouteLink(_Localize.Restore, "Message", new { action = "Restore", id = Model.BotID, messageID = message.MessageID }, new { @class = "restore" }) |
                            @Html.RouteLink(_Localize.Delete, "Message", new { action = "Delete", id = Model.BotID, messageID = message.MessageID }, new { @class = "delete" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Views/Bot/tweet-as-the-bot.js"></script>
    <script src="~/Views/Bot/change-enable.js"></script>
    <script src="~/Views/Bot/messages.js"></script>
    <script src="~/Views/Bot/delete-item.js"></script>
}
