@model myBot.Models.Bot

@{
    ViewBag.Title = "Create";
    ViewBag.GoBackURL = Url.Action("Index");
    ViewBag.GoBackText = "Back to List";
}

<h2>Create Bot</h2>

<div class="section">
    <div class="row">
        <form id="logn-form" class="col s12" method="post" action="@Url.Action("create")">
            @Html.AntiForgeryToken()

            <div class="input-field col s12">
                @Html.EditorFor(model => model.BotID, new { htmlAttributes = new { @class = "validate", autofocus = "" } })
                @Html.ValidationMessageFor(model => model.BotID, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.BotID)
            </div>

            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
