@model myBot.Models.Bot

@{
    ViewBag.Title = "Details";
    ViewBag.GoBackURL = Url.Action("Index");
    ViewBag.GoBackText = "Back to List";
}

@Html.Partial("_BotNameTitle", Model.BotID)

<div class="row">
    <form id="bot-status-holder" action="@Url.Action("ChangeEnable", new { id = Model.BotID })" class="bot-enabled-@Model.Enabled.ToString().ToLower()">
        <div class="bot-disabled">
            <button id="btn-make-enable" class="btn red darken-2 col s12 waves-effect" data-confirm="@_Localize.AreYouSureToEnablingThisBot">
                @_Localize.Disabled
            </button>
        </div>
        <div class="bot-enabled">
            <button id="btn-make-disable" class="btn blue darken-1 col s12 waves-effect" data-confirm="@_Localize.AreYouSureToDisablingThisBot">
                @_Localize.Enabled
            </button>
        </div>
    </form>
</div>

@* ScheduledMessages *@
<div class="row">
    <div class="col s12">
        <div class="caption-with-commands">
            <h4>@_Localize.ScheduledMessages</h4>
            <a href="@Url.RouteUrl("Message", new { action = "Create", id = Model.BotID })" title="@_Localize.AddMessage" class="btn-floating btn-flat waves-effect teal lighten-1">
                <i class="mdi-content-add"></i>
            </a>
            <a href="@Url.Action("Archives", new { id = Model.BotID })" title="@_Localize.ArchivedMessages" class="right btn-floating btn-flat waves-effect teal lighten-1">
                <i class="mdi-content-archive"></i>
            </a>
        </div>
        <div id="messages-holder" class="deletable-item-holder" data-confirm-archive="@_Localize.ConfirmArchiveMessage">
            @foreach (var message in Model.GetAvailableMessages().OrderBy(m => m.Order))
            {
                <div class="message deletable-item">
                    <div class="contents">
                        @Html.Raw(Html.Encode(message.Text)
                        .Replace("\n", "<br/>")
                        .Replace(" ", "&nbsp;"))
                    </div>
                    <div class="commands">
                        @Html.RouteLink(_Localize.Edit, "Message", new { action = "Edit", id = Model.BotID, messageID = message.MessageID }) |
                        @Html.RouteLink(_Localize.Up, "Message", new { action = "Up", id = Model.BotID, messageID = message.MessageID }, new { @class = "up" }) |
                        @Html.RouteLink(_Localize.Down, "Message", new { action = "Down", id = Model.BotID, messageID = message.MessageID }, new { @class = "down" }) |
                        @Html.RouteLink(_Localize.Archive, "Message", new { action = "Archive", id = Model.BotID, messageID = message.MessageID }, new { @class = "archive" })
                    </div>
                </div>
            }
        </div>
    </div></div>

<div class="row">

    @* Tweet as the Bot *@
    <div class="col s12 l6" ng-app="myBot" ng-controller="TweetTextController as ctrl">
        <h4>Tweet as the Bot</h4>

        <form id="tweet-as-the-bot-form" action="@Url.Action("TweetAsTheBot", new { id = Model.BotID })" method="post">
            <div class="input-field col s12">
                <textarea id="text" name="text" class="materialize-textarea" ng-model="text"></textarea>
                <label for="text">Text to Tweet</label>
                <div ng-bind="text|charcounter:140" ng-class="{'char-counter':true, lv1:(text|charcounter:140) < 21, lv2:(text|charcounter:140) < 11}"></div>
            </div>

            <div class="input-field col s12">
                <button id="tweet" type="submit" class="btn waves-effect" ng-disabled="(text|charcounter:140) < 0 || text == ''">
                    Tweet
                </button>
            </div>
        </form>
    </div>

    @* TweetTiming *@
    <div class="col s12 l6">
        <div class="caption-with-commands">
            <h4>@_Localize.TweetTiming</h4>
            <a href="@Url.Action("Edit", new { id = Model.BotID })" title="@_Localize.ChangeTweetTiming" class="btn-floating btn-flat waves-effect waves-light teal lighten-1">
                <i class="mdi-content-create"></i>
            </a>
        </div>
        <dl>
            <dt>
                @_Localize.TweetWhile
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BeginTime)
                -
                @Html.DisplayFor(model => model.EndTime)
                <span class="time-zone">@Html.DisplayFor(model => model.TimeZone)</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration) @_Localize.Minutes
            </dd>
            <dt></dt>
        </dl>
    </div>

</div>


<div class="row">

    @* BotMasters *@
    <div class="col s12 l6">
        <div class="caption-with-commands">
            <h4>@_Localize.BotMasters</h4>
            <a href="@Url.RouteUrl("BotMaster", new { action = "Create", id = Model.BotID })" title="@_Localize.AddBotMaster" class="btn-floating btn-flat waves-effect teal lighten-1">
                <i class="mdi-content-add"></i>
            </a>
        </div>
        <div class="deletable-item-holder" data-confirm-delete="@_Localize.ConfirmDeleteBotMaster">
            @foreach (var botMaster in Model.BotMasters.OrderBy(m => m.MasterID))
            {
                <div class="deletable-item bot-master">
                    <div class="contents">
                        <img src="~/icon/mini/@botMaster.MasterID" class="profile-image" />
                        @@@Html.DisplayFor(modelItem => botMaster.MasterID)
                    </div>
                    <div class="commands">
                        @Html.RouteLink(_Localize.Delete, "BotMaster", new { action = "Delete", id = Model.BotID, masterID = botMaster.MasterID }, new { @class = "delete" })
                    </div>
                </div>
            }
        </div>
    </div>

    @* ExtensionScripts *@
    <div class="col s12 l6">
        <div class="caption-with-commands">
            <h4>@_Localize.ExtensionScripts</h4>
            <a href="@Url.RouteUrl("ExtensionScript", new { action = "Create", id = Model.BotID })" title="@_Localize.AddExtesionScript" class="btn-floating btn-flat waves-effect teal lighten-1">
                <i class="mdi-content-add"></i>
            </a>
        </div>

        <div class="deletable-item-holder" data-confirm-delete="@_Localize.ConfirmDeleteBotMaster">
            @foreach (var script in Model.ExtensionScripts.OrderBy(m => m.ScriptID))
            {
                <div class="script deletable-item @(script.Enabled ? "" : "disabled")">
                    <div class="contents">
                        @Html.DisplayFor(modelItem => script.Title)
                    </div>
                    <div class="commands">
                        @Html.RouteLink(_Localize.Edit, "ExtensionScript", new { action = "Edit", id = Model.BotID, scriptID = script.ScriptID }) |
                        @Html.RouteLink(_Localize.Delete, "ExtensionScript", new { action = "Delete", id = Model.BotID, scriptID = script.ScriptID }, new { @class = "delete" })
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Views/Bot/tweet-as-the-bot.js"></script>
    <script src="~/Views/Bot/change-enable.js"></script>
    <script src="~/Views/Bot/messages.js"></script>
    <script src="~/Views/Bot/delete-item.js"></script>
}
