@model myBot.Models.Bot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BotID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BotID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenSecret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessTokenSecret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>

<hr />
<h4>Tweet as the Bot</h4>
<form id="tweet-as-the-bot-form" action="@Url.Action("TweetAsTheBot", new { id = Model.BotID })" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="text" class="control-label col-md-2">Text</label>
            <div class="col-md-10">
                <textarea name="text" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="tweet" type="submit" value="Tweet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BotID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Views/Bot/tweet-as-the-bot.js"></script>
}
