@model myBot.Models.Bot

@{
    ViewBag.Title = _Localize.ChangeTweetTiming;
}

<h2>@Model.BotID</h2>

<div class="row">
    <h4 class="col s12">@_Localize.ChangeTweetTiming</h4>

    <form class="col s12" method="post" action="@Url.Action("Edit")">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BotID)

        <div class="row">

            <div class="col s12">
                @_Localize.TweetWhile
            </div>
            <div class="input-field col s6 m4">

                @Html.EditorFor(model => model.BeginTime, new { htmlAttributes = new { @class = "" } })
                <label for="BeginTime">from</label>
                @Html.ValidationMessageFor(model => model.BeginTime, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col s6 m4">
                @Html.EditorFor(model => model.EndTime)
                <label for="EndTime">to</label>
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>


            <div class="input-field col s12 m4">
                @Html.EditorFor(model => model.Duration)
                <label for="Duration">Duration (@_Localize.Minutes)</label>
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>

            <div class="input-field col s12">
                @Html.EditorFor(model => model.TimeZone, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.TimeZone)
                @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
            </div>

            <div class="input-field">
                <button type="submit" class="btn blue darken-1 col s12 m4 waves-effect">
                    @_Localize.Save
                </button>
                <a href="@Url.Action("Details", new { id = Model.BotID })" class="col s12 m4">
                    @_Localize.Back
                </a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
}
