@model IEnumerable<myBot.Models.Bot>

@{
    ViewBag.Title = "Bots";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BotID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BotID)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.BotID })
        </td>
    </tr>
}

</table>
