@using Microsoft.Owin.Security
@{
    ViewBag.Title = _Localize.SignIn_Title;
    var signInProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<div class="jumbotron home-page">
    <h1>@_Localize.AppTitle</h1>
    <p class="lead">@*(lead)*@</p>

    <form class="visible-if-not-signedin" action="@Url.Action("ExternalSignIn", "Account", new { ReturnUrl = Url.Action("Index", "Bot") })" method="post">
        @Html.AntiForgeryToken()
        @foreach (var p in signInProviders)
        {
            <button type="submit" class="btn btn-primary btn-lg" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Sign in using your @p.Caption account">@_Localize.Sign_in_with @p.AuthenticationType</button>
        }
        @*<button type="submit" class="btn btn-default" id="demo" name="provider" value="demo" title="Sign in using your demo account">demo</button>*@
    </form>

    <div>
        <a class="visible-if-signedin btn btn-lg btn-primary" href="@Url.Action("Index", "Bot")">Your Bots &raquo;</a>
    </div>
</div>
