@model myBot.Models.Message
<h2>@Model.BotID</h2>

<div class="row">
    <h4 class="col s12">@ViewBag.Title</h4>

    <form class="col s12" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BotID)

        <div class="row">

            <div class="input-field col s12">
                @Html.TextAreaFor(model => model.Text, htmlAttributes: new { @class = "materialize-textarea", autofocus = "" })
                @Html.LabelFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>

            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect">
                    @_Localize.Save
                </button>
            </div>
        </div>
    </form>
</div>


