@model myBot.Models.Message

<h2>@Model.BotID</h2>

<div class="row">
    <h4 class="col s12">@ViewBag.Title</h4>

    <form class="col s12" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BotID)

        <div class="row">

            <div class="input-field col s12">
                @Html.TextAreaFor(model => model.Text, htmlAttributes: new { @class = "materialize-textarea", autofocus = "" })
                @Html.LabelFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>

            <div class="input-field">
                <button type="submit" class="btn blue darken-1 col s12 m4 waves-effect">
                    @_Localize.Save
                </button>
                <a href="@Url.Action("Details", new { id = Model.BotID })" class="col s12 m4">
                    @_Localize.Back
                </a>
            </div>

        </div>
    </form>
</div>


